<div class="row">
  <div ng-show="errors" class="alert alert-danger">
    {{errors}}
  </div>
  <div ng-show="info" class="alert alert-info">
    {{info}}
  </div>
</div>
<div class="row container2">
  <div class="col-md-4">
    <input class="form-control" ng-model="searchText" placeholder="Search Criteria"><br/>
  </div>
  <div class="col-md-8">
    
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" ng-repeat="plan in testPlans | filter:orderBy(plan.meta.createdDate) | filter:searchText">
        <div class="panel-heading">
          <p class="panel-title planDetails">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index+1}}">
              <i class="icon-expand-alt"></i>
            </a>
            <a href="#/testplans/{{plan.details.extrnId}}">{{plan.details.extrnId}}</a>
          </p>
        </div>
        <div id="collapse{{$index+1}}" class="panel-collapse collapse">
          <div class="panel-body planDetails">
            Creator:  {{plan.meta.creator}} <br />
            Software Change: {{plan.details.softwareChange}} <br />
            Test Strategy: {{plan.details.testStrategy}} <br />
          </div>
        </div>
      </div>
    </div>
      
<!--    <ul ng-repeat="plan in testPlans | filter:orderBy(plan.meta.creator) | filter:searchText">
      <li><a href="#/testplans/{{plan.details.extrnId}}">{{plan.details.extrnId}}</a> ({{plan.meta.creator}})  {{ getDate( plan.meta.createdDate ) }}</li>
    </ul>-->
  </div>
</div>