td > textarea {
    border: none;
}

td, tr {
    height: 30px;
    border: 1px solid #eee;
}

td {
    padding: 4px;
}

.column-label {
    background-color: #ddd;
    font-weight: bold
}

.category-label {
		background-color: #333;
		color: white;
}

textarea {
    width: 275px;
		font-size: 11px;
}

.result {
    text-align: center;
}