/*.output, input {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    height: 1.2em;
    width: 300px;
    height: 16px;
    overflow: hidden;
    padding-left: 4pt;
}*/

textarea {
    border: none;
}

/*.output {
    background: white;
    pointer-events: none;
    padding-top: 2pt;
    height: 14pt;
}*/
/*
input:focus + .output {
    display: none;
}

table {
    border-collapse: collapse;
}

td > div {
    width: 55pt;
    height: 16pt;
}*/

td, tr {
    height: 30px;
    border: 1px solid #eee;
}

td {
    padding: 4px;
}

.column-label, .category-label {
    background-color: #ddd;
    font-weight: bold
}

.category-label {
    font-size: 140%;
}

textarea {
    width: 300px;
}

.result {
    text-align: center;
}