html,body { height: 100%; }

body {
    padding-top: 60px;
    background-image: url('../img/hexellence.png');
}

.testPlan {
    padding-top: 60px;
}

td > textarea {
    border: none;
    width: 315px;
}

td:last-child { border: none; }

.column-label {
    background-color: #333;
    font-weight: bold;
    color: white;
}

.category { width: 500px; }

.category-label {
    background-color: #333;
    color: white;
    padding-left: 5px;
}

.category-label input {
    border: none;
    background-color: #333;
    color: white;
    font-weight: bold;
}

.menu-group { padding-left: 20px; }

.testCaseCell {
    background: white;
    border: white;
}

.navbar {
    box-shadow: 0px 2px 5px #888;
}

.navbar-fixed-sub {
    position: fixed;
    left: -5px;
    right: -5px;
    border-width: 0 0 1px;
    border: #333;
    z-index: 1020;
    top: 55px;
    background-color: #ddd;
}